saham-worker-workflow.json
{
  "name": "saham-worker1",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf5f7210-5b54-4f4a-abf7-87873be82df4",
              "name": "ticker",
              "value": "={{ $json.payload.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5440,
        0
      ],
      "id": "05641d3b-26b9-48fb-866a-e71c94d7e948",
      "name": "Set Ticker"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/advanced-chart/storage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "C4nfqkO4ZX7J2SCjUqA2740Hch0awQBi6TF6WBhy"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"theme\": \"dark\",\n  \"interval\": \"1D\",\n  \"symbol\": \"{{ $json.ticker }}\",\n  \"override\": {\n    \"showStudyLastValue\": false\n  },\n  \"studies\": [\n    {\n      \"name\": \"Volume\",\n      \"forceOverlay\": true\n    },\n    {\n      \"name\": \"MACD\",\n      \"override\": {\n        \"Signal.linewidth\": 2,\n        \"Signal.color\": \"rgb(255,65,129)\"\n      }\n    }\n  ]\n}",
        "options": {
          "batching": {
            "batch": {}
          },
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5216,
        0
      ],
      "id": "c95f8a0d-65c9-4589-bff8-063c297d7248",
      "name": "Get Chart URL"
    },
    {
      "parameters": {
        "url": "={{ $('Get Chart URL').item.json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4368,
        112
      ],
      "id": "a744317a-8518-4970-963f-8c73fda29d43",
      "name": "Download Chart"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3984,
        336
      ],
      "id": "7c9cec7a-0b74-4d1f-a3b7-77ab5866b8a6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gESdUE1jYVEFvSn5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.url }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "965bdf0b-b7e6-45f7-94b2-c567bcc3546c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sukses"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a80558c8-3fb9-4cb0-b5e4-de2bb86173d6",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "kuota habis"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ecce5374-e980-4ef8-ab10-11055fb88670",
                    "leftValue": "={{ $json.msg }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "kuota habis"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4992,
        -16
      ],
      "id": "b48b9e54-e122-47b4-9611-7b7f8ac5ea01",
      "name": "Switch2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4144,
        -992
      ],
      "id": "5a1ced6f-2b72-4d88-a976-850efc49c7ce",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "gESdUE1jYVEFvSn5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ce51d2f9-73c5-465a-bfc8-d35eb8180e08",
                    "leftValue": "={{ $json.payload._data.body }}",
                    "rightValue": "#GAMBAR:",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "img_gen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bcf71e05-7b9e-4dff-872d-56257070a2ef",
                    "leftValue": "={{ $json.payload._data.body }}",
                    "rightValue": "IDX:",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Analisa Saham"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.payload._data.from }}",
                    "rightValue": "120363401195590086@g.us",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "daf16940-938c-4df3-b254-408e4466cf55"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "grub saham"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e51969ff-8eee-42c4-a157-853a0e85925b",
                    "leftValue": "={{ $json.payload._data.from }}",
                    "rightValue": "120363400022989092@g.us",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "grub crypto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5664,
        -400
      ],
      "id": "50fa734d-db1e-4852-bcee-769fdf46abcc",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah Trader Pro. Berikan rekomendasi harga beli dan jual terbaik. Fokus pada analisis pola teknikal (seperti double top/bottom, head and shoulders, flags, dll.) dan indikator teknikal. Sajikan output seperti contoh ini:\n\nNama Saham: {{ $('Set Ticker').item.json.ticker }}\nBUY: 128\nTP1: 145\nTP2: 170\nCL: 108\n\nAlasan: [Sertakan alasan di sini]",
        "options": {
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -4016,
        112
      ],
      "id": "996cc493-2750-4ef7-9c2d-a661ab619c4b",
      "name": "AI-chart"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PtpI3cvjj8iITt6d",
          "mode": "list",
          "cachedResultName": "image generation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -5440,
        -576
      ],
      "id": "1666e221-00fd-47c7-8561-74dcaebea724",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3680,
        -784
      ],
      "id": "10443f0b-2e7c-43df-9cac-d7372da0885a",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "gESdUE1jYVEFvSn5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "The data contains custom knowledge",
        "topK": 50
      },
      "id": "52da7e81-abdd-4c70-90b3-ee06f0bb4675",
      "name": "Answer questions with a vector store",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        -3888,
        -992
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "amount": "={{ Math.random()*5 + 1 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -5888,
        -368
      ],
      "id": "a28021d8-6df0-4e51-9ca1-6b539d67b5c9",
      "name": "Delay before read",
      "webhookId": "9e6fb901-db04-4a59-bc1d-82ad039448b6"
    },
    {
      "parameters": {
        "amount": "={{ Math.random()*5+3 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4368,
        -1024
      ],
      "id": "a97aec19-5320-4c88-9e4c-eaf628c0f72e",
      "name": "Delay Typing",
      "webhookId": "2ad403e6-4377-4e0f-b0d1-76182bcef108"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=pesan balasan : {{ $json.payload._data.body }}\npesan sebelumnya: {{ $json.payload.replyTo.body }}\n\nselalu cari data di tool terlebih dahulu [Answer questions with a vector store]",
        "options": {
          "systemMessage": "=Kamu adalah seorang ahli saham Indonesia dengan gaya bahasa santai. Jawablah semua pertanyaan tentang saham Indonesia secara singkat, santai, tapi tetap informatif. Jika pengguna menanyakan soal \"mantra\", jawab dengan kalimat: \"PUYENG PUYENG LANJUTKAN PERJUANGAN\". Catatan penting: jika muncul singkatan \"PP\", itu berarti Prayogo Pangestu.\n\nTanggal hari ini: {{ $now.format('DD MMMM YYYY') }}",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -4112,
        -1216
      ],
      "id": "5f604b9d-b708-41a4-af75-ecaeb0a39b35",
      "name": "AI Agent Img , Text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9628036e-d8f7-4d77-8ae9-4bed2f557c2c",
              "leftValue": "={{ $json.payload._data.quotedParticipant }}",
              "rightValue": "6285179647256@c.us",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "93c4508e-57f7-4b53-b33b-7aeaaeeff3ba",
              "leftValue": "={{ $json.payload._data.mentionedJidList[0] }}",
              "rightValue": "6285179647256@c.us",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5440,
        -912
      ],
      "id": "81068804-9757-4a48-bf47-777f3b36240e",
      "name": "only mention"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.payload.hasMedia }}",
                    "rightValue": "image/jpeg",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "41752d79-2e8d-48d9-945e-7e1142ae305d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "img"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9d9c56ec-c386-4a22-a63a-7fe8b6df4ef1",
                    "leftValue": "1",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5216,
        -912
      ],
      "id": "c6fa8201-2212-40f9-9085-b9f80f095707",
      "name": "get type"
    },
    {
      "parameters": {
        "url": "={{ $json.output.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4368,
        -720
      ],
      "id": "bf330562-1db5-4a02-9908-bfbca8974ff2",
      "name": "download img"
    },
    {
      "parameters": {
        "amount": "={{ Math.random()*5+3 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4992,
        -720
      ],
      "id": "2ed45c8c-238b-4cee-89b8-a62a48f2df8e",
      "name": "Delay Typing2",
      "webhookId": "2ad403e6-4377-4e0f-b0d1-76182bcef108"
    },
    {
      "parameters": {
        "amount": "={{ Math.random()*5+3 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4688,
        -112
      ],
      "id": "c73f8f9d-cda1-4f49-810a-617d49900cd2",
      "name": "Delay Typing3",
      "webhookId": "2ad403e6-4377-4e0f-b0d1-76182bcef108"
    },
    {
      "parameters": {
        "amount": "={{ Math.random()*5+3 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4688,
        112
      ],
      "id": "be29810c-1087-4ab5-9464-8b633c2c4f0e",
      "name": "Delay Typing4",
      "webhookId": "2ad403e6-4377-4e0f-b0d1-76182bcef108"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "company-files",
          "mode": "list",
          "cachedResultName": "company-files"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -4000,
        -784
      ],
      "id": "e7a6d975-39be-4d78-a829-ac4f505da66d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "JxhPSUdCuRrf8j1H",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d516f4a4-9d12-4d31-9b90-e9aa2ed239fb",
              "leftValue": "={{ $json.payload.from }}",
              "rightValue": "6281296805874@c.us",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6112,
        -176
      ],
      "id": "68a9c8fd-e981-4aa8-9c14-bd60eca79bdd",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "reply_to": "={{ $('WAHA Trigger').item.json.payload.id }}",
        "text": "={{ $('AI Agent Img , Text').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -3248,
        -608
      ],
      "id": "bb1d0c5a-f30f-4743-b17e-1f757ed32809",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "hGIqQaKTS2xM69bA",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "reply_to": "={{ $('WAHA Trigger').item.json.payload.id }}",
        "text": "={{ $('AI-chart').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -2800,
        112
      ],
      "id": "a544a4e0-1b28-488d-ad00-933f5ef4c7b3",
      "name": "Send a text message1",
      "credentials": {
        "wahaApi": {
          "id": "hGIqQaKTS2xM69bA",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMedia",
        "phoneNumber": "={{ $('WAHA Trigger').item.json.payload.from.split('@',1)[0] }}",
        "caption": "Chart#"
      },
      "type": "@aldinokemal2104/n8n-nodes-gowa.gowa",
      "typeVersion": 1,
      "position": [
        -3024,
        112
      ],
      "id": "166a1d98-5c61-4f77-80ad-af6c476adce8",
      "name": "Send media files",
      "credentials": {
        "goWhatsappApi": {
          "id": "0uKKfngyW2y0M6DB",
          "name": "GOWA account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.payload.media.url }}",
        "attributes": {
          "attributes": [
            {
              "name": "url",
              "description": "without :3000"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -4768,
        -720
      ],
      "id": "a82d67e7-7152-453f-816d-aa046ebd3340",
      "name": "Information Extractor"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3904,
        -576
      ],
      "id": "6f704c6e-dbd6-4aec-b8fb-15477d08920b",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "gESdUE1jYVEFvSn5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4672,
        -496
      ],
      "id": "92868479-b7a2-4a19-8a05-771d3262ca85",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "gESdUE1jYVEFvSn5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get Chart URL').item.json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3248,
        112
      ],
      "id": "7a662de5-65de-4979-98f7-1154e6ffd8c1",
      "name": "Download Chart1"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -3472,
        -608
      ],
      "id": "4a343ee8-cdb4-4e3f-98b2-b4e4748f7304",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "hGIqQaKTS2xM69bA",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -3472,
        112
      ],
      "id": "f39641c2-410a-4db4-b26c-088f2ed73aa9",
      "name": "Start Typing1",
      "credentials": {
        "wahaApi": {
          "id": "hGIqQaKTS2xM69bA",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "reply_to": "={{ $('WAHA Trigger').item.json.payload.id }}",
        "text": "=Kuota Habis",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -4368,
        -112
      ],
      "id": "9259abea-36a8-44fe-9164-27feff001ee9",
      "name": "Send a text message2",
      "credentials": {
        "wahaApi": {
          "id": "hGIqQaKTS2xM69bA",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        -6336,
        -560
      ],
      "id": "e61e2828-601f-457b-be15-09339570fb0d",
      "name": "WAHA Trigger",
      "webhookId": "e493c154-8284-479c-8f6a-702ff1c4d72f"
    },
    {
      "parameters": {
        "amount": "={{ Math.random()*5+3 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4368,
        -304
      ],
      "id": "b2cae662-bec1-4469-b6e9-223e5b78d494",
      "name": "Delay Typing1",
      "webhookId": "2ad403e6-4377-4e0f-b0d1-76182bcef108"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3984,
        -176
      ],
      "id": "1781afb0-302c-47ad-851b-81be278e98f6",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "gESdUE1jYVEFvSn5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=pesan balasan : {{ $json.payload._data.body }}\npesan sebelumnya: {{ $json.payload.replyTo.body }}\n\nselalu cari data di tool terlebih dahulu [Answer questions with a vector store]",
        "options": {
          "systemMessage": "=Kamu adalah raja crypto. Jawablah semua pertanyaan tentang crypto secara singkat, santai, tapi tetap informatif.\n\nTanggal hari ini: {{ $now.format('DD MMMM YYYY') }}",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -4016,
        -400
      ],
      "id": "ea69aa5e-2a92-478f-bc3e-fcc14d58000c",
      "name": "AI Crypto"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WAHA Trigger').item.json.session }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -3872,
        464
      ],
      "id": "0b899516-2009-4043-aa04-7b7dda0479ff",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WAHA Trigger').item.json.session }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -4016,
        -912
      ],
      "id": "bc288f1c-4011-4ab6-86d3-0b2e713cf6cc",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WAHA Trigger').item.json.session }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -3872,
        -48
      ],
      "id": "2de400a1-7a57-4133-a1f8-524723d1ce1f",
      "name": "Simple Memory2"
    }
  ],
  "pinData": {
    "WAHA Trigger": []
  },
  "connections": {
    "Set Ticker": {
      "main": [
        [
          {
            "node": "Get Chart URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chart URL": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Chart": {
      "main": [
        [
          {
            "node": "AI-chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI-chart",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Delay Typing4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delay Typing3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delay Typing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Img , Text",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Ticker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "only mention",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delay Typing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-chart": {
      "main": [
        [
          {
            "node": "Start Typing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Img , Text",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delay before read": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Typing": {
      "main": [
        [
          {
            "node": "AI Agent Img , Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Img , Text": {
      "main": [
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "only mention": {
      "main": [
        [
          {
            "node": "get type",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "get type": {
      "main": [
        [
          {
            "node": "Delay Typing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delay Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download img": {
      "main": [
        [
          {
            "node": "AI Agent Img , Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Typing2": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Typing3": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Typing4": {
      "main": [
        [
          {
            "node": "Download Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Set Ticker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delay before read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send media files": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "download img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download Chart1": {
      "main": [
        [
          {
            "node": "Send media files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing1": {
      "main": [
        [
          {
            "node": "Download Chart1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Typing1": {
      "main": [
        [
          {
            "node": "AI Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Crypto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Crypto": {
      "main": [
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI-chart",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Img , Text",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Crypto",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c7abbb7-0ce9-4be4-ab6b-0720c39a0eef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6671b553f40275ce4314fa3135a49a829f89fabb451a83e76f75b90e9a68eecd"
  },
  "id": "o4n60fwFUbBMzC8C",
  "tags": [
    {
      "createdAt": "2025-07-16T13:09:09.822Z",
      "updatedAt": "2025-07-16T13:09:09.822Z",
      "id": "yQCGpiX16n54PC4C",
      "name": "v1.0"
    }
  ]
}